/rice_data/
!/rice_data/label2name.json
!/rice_data/bacterial blight/0000.jpg
!/rice_data/bacterial streak disease/0275.jpg
!/rice_data/bad seeding/0651.jpg
!/rice_data/brown spot/0940.jpg
!/rice_data/health/4ACA69370C0CF695.jpg
!/rice_data/no a crop/1.jpg
!/rice_data/other crops/1.jpg
!/rice_data/planthopper/1203.jpg
!/rice_data/rice blast/1454.jpg
!/rice_data/rice smut/1729.jpg
!/rice_data/sheath blight/1968.jpg
!/rice_data/three chemical borers/0792.jpg
!/rice_data/thrip/0162.jpg